
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Configs (Optional based on your needs)


# VSCode
.vscode/

# Virtual Environment
.venv/
venv/

# Env variables
.env

# Python Cache
__pycache__/
